<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>
<body>
<div id="main">
    <h3>Меню</h3>
    <a href="/homework_war">Главная</a>
    <a href="/homework_war/catalog">Каталог</a>
    <a href="/homework_war/find">Поиск</a>

    <h1>Поиск товара по id</h1>
    <form action="#" th:action="@{/find}" method="post">
        <div>
            <label>id</label>
            <input type="text" th:value="${identifier}" name="identifier"/>
        </div>
        <div>
            <button type="submit">Искать</button>
        </div>
    </form>

    <div th:if="${product != null}">
        <h3>Найден товар:</h3>
        <table>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>cost</th>
            </tr>
            <tr>
                <td th:text="${product.id}"/>
                <td th:text="${product.title}"/>
                <td th:text="${product.cost}"/>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
